<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} [%X{correlationId}] [%X{userId}] - %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="CONSOLE"/>
    <queueSize>512</queueSize>
    <discardingThreshold>0</discardingThreshold>
    <includeCallerData>true</includeCallerData>
  </appender>

  <!-- Application Loggers -->
  <logger name="dev.ash.techradar" level="${LOG_LEVEL:-INFO}" additivity="false">
    <appender-ref ref="ASYNC_CONSOLE"/>
  </logger>

  <!-- Framework Loggers -->
  <logger name="org.springframework" level="INFO" additivity="false">
    <appender-ref ref="ASYNC_CONSOLE"/>
  </logger>

  <logger name="org.hibernate" level="INFO" additivity="false">
    <appender-ref ref="ASYNC_CONSOLE"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="ASYNC_CONSOLE"/>
  </root>
</configuration>
